body {
    background-color: #78cc9e;
    text-align: center;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.5em;
    margin: 0;
}

.etch-a-sketch-container {
    width: 730px;
    background-color: antiquewhite;
    margin: auto;
    border-radius: 20px;
}

.grid-container {
    width: 600px;
    height: 600px;

    border: 65px solid #FF5E5B;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    box-sizing: border-box;
    border: 0.5px solid #707070;
    background-color: #D8D8D8;
}

#selected-color {
    margin: 5px;
}

.slider-container {
    width: 100%;
}

.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;;
    cursor: pointer;
}