.grid-container {
    width: 960px;
    height: 960px;

    border: 20px solid orange;

    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: green;
}

.slider-container {
    width: 100%;
}

.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;;
    cursor: pointer;
}